# ==========================
# Xilinx Vivado
# ==========================

# Logs
*.jou
*.log
*.str
*.pb

# Simulation
*.wdb
*.wcfg
xsim.dir/

# Build directories
.Xil/
*.cache/
*.gen/
*.runs/
*.sim/
*.hw/
*.ip_user_files/

# Generated implementation files
*.dcp
*.vdi
*.vds
*.rlx
*.rpx
*.rpt

# Temporary files
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db